@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight:700;
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight:300;
}

body
{
    background: #222d32;
    font-family: "Ubuntu","sans-serif";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Ubuntu","sans-serif";
}
.main-header .logo
{
    font-family: "Ubuntu","sans-serif";
}

div.dataTables_filter input
{
    border-radius: 5px;
}
.main-header > .navbar > .sidebar-toggle
{
    z-index: 9999;
    position: relative;
}

.fstChoiceItem
{
    font-size:.9em;
}
.fstResultItem{
    font-size:1em;
}
.fstMultipleMode .fstControls
{
    width: 50vw;
}